/*Tela index.html*/

main{
    background-color: aliceblue;
    width: 100vw;
}


table{
    align-items: center;
    text-align: center;
}
th, td{
    border: 1px;
    border-color: black;
    border-style: solid;
}

#titulo_filme{
text-align: center;
margin-left: 2%;
margin-right: 2%;
padding-left: 2%;
padding-right: 2%;
}

#tabela_filme_1{

    justify-content: center;
    justify-items: center;

}

#filme_1{
    margin: 2%;
    text-align: center;
    align-content: center;
    align-items: center;
}


#filmes_home{
    display: flexbox;
}



#div_sep{
    background-color: burlywood;
}



#div_eventos{
    display: flexbox;
    text-align: center;
    align-content: center;
    align-items: center;
}

#div_poster{
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-top: 2%;
}

#div_img_poster{
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

#div_mural{
    display: flexbox;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;

    margin-top: 2%;
    margin-bottom: 2%;

}











/*tela premiacoes.html*/

#div_premiacao_1_2_3, #div_premiacao_titulo{

    display: flexbox;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;

    margin-top: 2%;
    margin-bottom: 2%;

}



/*tela indicacoes.html*/
#div_indicacoes, #div_indicar{

    display: flexbox;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;

    margin-top: 2%;
    margin-bottom: 2%;


}



