@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #09090b; /* zinc-950 */
    color: #f4f4f5; /* zinc-100 */
    font-family: 'DM Sans', 'Inter', sans-serif;
  }

  h1, h2, h3, h4, .font-display {
    font-family: 'Outfit', 'Oswald', sans-serif;
  }
}

/* Custom Sleek Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #27272a; /* zinc-800 */
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f59e0b; /* amber-500 */
}
